.container {
    display: flex;
    justify-content: center;
}

.content {
    width: 480px;
    padding-top: 48px;
}

.inputContainer{
    display: flex;
}
.actionButton{
    margin-left: 16px;
}
.listContainer{
     padding-top: 16px;
 }
.listItem{
    height: 46px;
    border-bottom: 1px solid palevioletred;

    display: flex;
    align-items: center;
}
.todoTitle{
    margin-bottom: 0;
    margin-left: 8px;
}